{% extends "base.html.twig" %}

{% block title %}Footer{% endblock %}

{% block body %}
    <a href="https://github.com/AmazingCoder107856/My-Portfolio.git"><i class="social-icon fab fa-github"></i></a>
    <a href="https://facebook.com/gloriapalm"><i class="social-icon fab fa-facebook"></i></a>
    <a href="https://twitter.com/gloriapalm"><i class="social-icon fab fa-twitter"></i></a>
    <a href="https://instagram.com/gloriapalm"><i class="social-icon fab fa-instagram"></i></a>
    <a href="https://gloria.palm7810@gmail.com"><i class="social-icon fas fa-envelope"></i></a>
    <p id="copy">Copyright &copy; 2023 - <strong>Gloria Palm</strong></p>
{% endblock %}
