{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Min me-sida i kursen MVC</h1>
    
    <p><img src="{{ asset('img/gloriapalm2.png') }}" width="300" alt="Bild på Gloria Palm"></p>

    <p>Jag heter Gloria Palm. Jag läser Webbprogrammering på distanse på Blekinge Tekniska Högskolan. Född och uppvuxen i Filippinerna och kom till Sverige sedan 2009. Jag är 44 år gammal, gift och har ett barn.</p>

    <p>Jag läste Ekonomiprogram med inriktning på Redovisning och Revision på Högskolan Kristianstad. Jag har jobbat många år inom ekonomibranchen. Men nu vill jag ändra eller kombinera min utbildning med programmering och teknik. Hoppas hittar jag mig själv och landar på mitt drömjobb efter utbildningen.</p>

    <p>Jag har alltid intresse på programmering sedan jag började jobba och använde olika programmeringsverktyg. Jag kunde säga att jag är en webbutvecklare med redovisningsbackgrund. Med andra ord, jag gick på handelsskola och blev en programmerare.</p>

    <p>På min fritid bidrar jag med mina  kunskaper i en ideell förening. Jag tycker om att  tillbringa tid med min familj och vara ute och  promenera i naturen. Som kontrast finns även mitt  stora intresse för fond-och aktiehandel.</p>
{% endblock %}
