* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #7f6e80 0%, #9caac6 100%, #e570ca 100%, #884386 100%);
    font-size: 100%;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}

input {
    font-size: 1em;
}

.card {
    font-size: 2em;
}

.flash-success {
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.flash-warning:before {
    content: "⚠";
}

.flash-error {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    margin: auto;
    width: 80%;   
    margin-top: 5px; 
    border-bottom: 5px solid #c4bfb8;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
    padding: 30px;      
    height: 100px;
    border-radius: 6px;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

.nav a:hover {
    text-decoration: underline;
}

.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.nav1 a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

.nav1 a:hover {
    text-decoration: underline;
}

.container {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 80%;
    padding: 30px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.68rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.68rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.68rem;
}

li {
    font-size: 1.2rem;
    margin-left: 20px;
}

img {
    max-width: 100%;
    display: block;
    float: left;
    padding: 10px;
}

#greeting {
    font-weight: bold;
    color: #a51005;;
}

.footer {
    margin: auto;
    width: 80%;
    border-radius: 6px;
    background-image: linear-gradient(to top, #544755 0%, #4d5668 100%, #e570ca 100%, #884386 100%);
    background-image: linear-gradient(to top, #544755 0%, #4d5668 100%, #e570ca 100%, #884386 100%);
    height: 100px;  
    border-top: 5px solid #c4bfb8;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.social-icon {
    margin: 20px 10px;
    color: #fff;
}

#copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.figure {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    border: .5px solid rgb(250, 247, 247);
}

.figure img {
    max-width: 100%;
    display: block;
}

.figure.right {
    float: right;
    margin-left: 1em;
    background-color: rgb(159, 148, 161);
}

/* book cover (container) */
.open-book {
    display:flex;
    margin:2rem 1rem 1rem;
    padding:1rem;
    background:#7e1010;
    border-radius:.3rem;
    gap:0;
}

/* left page */
.open-book > :first-child {
    transform-origin:100% 100%;
    transform:skew(0, 4deg);
    background:linear-gradient(90deg, #eee 0%, #fff 100%);
    padding:0 1em;
}

/* right page */
.open-book > :last-child {
    transform-origin:0 100%;
    transform:skew(0, -4deg);
    background:linear-gradient(90deg, #ddd 0%, #eee 100%);
    padding:0 1em;
}

.number {
    color: #ffff;
}

.cards {
    height: 1800px;
}

.draw {
    height: 300px;
}
